<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Riachat</title>
    {% load static %}
    <!-- Include Tailwind CSS -->
    <link href="{% static 'core/output.css' %}" rel="stylesheet">
</head>
<body class="bg-teal-600">
    <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
            <a href="/" class="text-xl text-white">Riachat</a>
        </div>

        <div class="flex items-center space-x-4">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" class="text-white hover:text-gray-200">Log in</a>
            <a href="{% url 'signup' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Sign up</a>
            {% else %}
                <a href="{% url 'rooms' %}" class="text-white hover:text-gray-200">Public Rooms</a>
                <p class="text-white ">{{ request.user.username }}</p>
                <a href="{% url 'profile' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Log out</a>
                <a href="{% url 'profile' %}"><img class="account-imag" id="id_profile_links" src="{% static 'room/img/dummy_image.png' %}" alt="Ria Pay Default Profile Image" width="40" height="40"></a>


            {% endif %}
        </div>
    </nav>

    <div class="container mx-auto px-4">
        {% block content %}{% endblock %}

</body>
</html>